@import 'mixins.styl'

white=#fff
dark-grey=#5a5a5a
blue=#3677fd
light-blue=#f1f8ff

body
  font-family 'Lato', sans-serif

.flex-container
  display flex

header
  background-color #194277
  p
    color white
    padding 25px 0
    margin auto

.btn
  border-radius 25px

.btn-small
  font-size 12px
  color #194277
  font-weight 700
  padding 11px 50px

.jumbotron
  background #3695ff none repeat scroll 0% 0%
  background-image linear-gradient(51deg, #3695ff 0%, #3564fc 100%)
  border-radius 0px!important

.welcome-section
  h2
    color white
    font-size 50px
    font-weight 900
  p
    color white
    font-size 16px
    font-weight 300
    line-height 35px
    padding-top 25px

  .circle
    width 100px
    height 100px
    background white
    -moz-border-radius 50px
    -webkit-border-radius 50px
    border-radius 50px
    margin 0 auto
    margin-bottom 40px

  .fa
    color white
    opacity 0.4
    font-size 35px
    padding-top 90px
    backface-visibility hidden
    -moz-osx-font-smoothing grayscale
    transition-duration 0.3s
    transition-property transform
    &:hover
      transform translateY(40px)

.btn-big
  padding 15px 62px
  color #3695ff
  font-size 16px
  font-weight 700


.about-me
  padding-bottom 75px
  h2
    padding 40px 0 30px
  p
    color dark-grey
    font-size 16px
    font-weight 400
    line-height 35px

.expert-in
  background-color light-blue
  .icon-mob-design
    content url("../img/mobile-design.png")

  .icon-web-design
    content url("../img/web-design.png")

  .icon-web-delopment
    content url("../img/web-development.png")

  .icon-product-design
    content url("../img/product-design.png")

  .icon-ui
    content url("../img/ui.png")

  .icon-animations
    content url("../img/animations.png")

  h2
    padding 40px 0 100px
  h4
    color blue
    padding-top 50px
  p
    color dark-grey
    font-size 16px
    font-weight 500
    line-height 35px
    padding-bottom 50px

.clients
  background-color light-blue
  padding-bottom 100px
  .client-item
    width 285px
    height 82px


.expert-in,.clients,.about-me,.latest-works
  h2
    color blue
    font-size 50px
    font-weight 300
    padding 50px 0 50px

.footer
  background-color #e8f3ff
  background-image linear-gradient(51deg, #3695ff 0%, #3564fc 100%)
  padding 60px 0 60px
  color white
  h2
    font-weight 300
    font-size 50px
    span
      font-weight 700
  p
    margin auto

.latest-works
  h2
    padding 50px 0 50px
  .layer
    background-color #f4f4f4
    border 1px solid #f4f4f4
    border-radius 10px
    margin-bottom 50px
    min-height 243px
    padding 15px
  .works-item
    padding 0 10px 0 10px
    img
      display inline

.icon-expert
  height 131px
  width 131px
  display inline-flex
  border 1px solid #b7c0c9
  border-radius 100%

@media screen and (max-width: 991px) {
  .flex-container{
    flex-wrap wrap
  }
  .client-item{
    padding 20px 0
    margin 0 auto
  }

}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}