body {
  font-family: 'Lato', sans-serif;
}
.flex-container {
  display: flex;
}
.cookies {
  background-color: #194277;
}
.cookies p {
  color: #fff;
  padding: 25px 0;
  margin: auto;
}
.btn {
  border-radius: 25px;
}
.btn-small {
  font-size: 12px;
  color: #194277;
  font-weight: 700;
  padding: 11px 50px;
}
.jumbotron {
  background: #3695ff none repeat scroll 0% 0%;
  background-image: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
  border-radius: 0px !important;
}
.welcome-section h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  padding-top: 40px;
}
.welcome-section p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  padding-top: 25px;
}
.welcome-section .fa {
  color: #fff;
  opacity: 0.4;
  font-size: 35px;
  padding-top: 90px;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.welcome-section .fa:hover {
  transform: translateY(40px);
}
.btn-big {
  padding: 15px 62px;
  color: #3695ff;
  font-size: 16px;
  font-weight: 700;
}
.about-me {
  padding-bottom: 75px;
}
.about-me h2 {
  padding: 40px 0 30px;
}
.about-me p {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}
.expert-in {
  background-color: #f1f8ff;
}
.expert-in .icon-mob-design {
  content: url("../img/mobile-design.png");
}
.expert-in .icon-web-design {
  content: url("../img/web-design.png");
}
.expert-in .icon-web-delopment {
  content: url("../img/web-development.png");
}
.expert-in .icon-product-design {
  content: url("../img/product-design.png");
}
.expert-in .icon-ui {
  content: url("../img/ui.png");
}
.expert-in .icon-animations {
  content: url("../img/animations.png");
}
.expert-in h2 {
  padding: 40px 0 100px;
}
.expert-in h4 {
  color: #3677fd;
  padding-top: 50px;
}
.expert-in p {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  padding-bottom: 50px;
}
.clients {
  background-color: #f1f8ff;
  padding-bottom: 100px;
}
.clients .client-item {
  width: 285px;
  height: 82px;
}
.expert-in h2,
.clients h2,
.about-me h2,
.latest-works h2 {
  color: #3677fd;
  font-size: 50px;
  font-weight: 300;
  padding: 50px 0 50px;
}
.footer {
  background-color: #e8f3ff;
  background-image: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
  padding: 60px 0 60px;
  color: #fff;
}
.footer h2 {
  font-weight: 300;
  font-size: 50px;
}
.footer h2 span {
  font-weight: 700;
}
.footer p {
  margin: auto;
}
.latest-works h2 {
  padding: 50px 0 50px;
}
.latest-works .layer {
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  margin-bottom: 50px;
  min-height: 243px;
  padding: 15px;
}
.latest-works .works-item {
  padding: 0 10px 0 10px;
}
.latest-works .works-item img {
  display: inline;
}
.icon-expert {
  height: 131px;
  width: 131px;
  display: inline-flex;
  border: 1px solid #b7c0c9;
  border-radius: 100%;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #3677fd;
}
@media screen and (max-width: 991px) {
  .flex-container {
    flex-wrap: wrap;
  }
  .client-item {
    padding: 20px 0;
    margin: 0 auto;
  }
  .footer .col-md-2 {
    margin: 0 auto;
  }
  .latest-works .works-item img {
    width: 100%;
  }
  .latest-works .layer {
    min-height: auto;
  }
  .clients .client-item {
    width: auto;
    height: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: none !important;
    overflow: auto !important;
  }
  .navbar-toggle,
  .collapse.in {
    display: block !important;
  }
  .navbar-collapse.in {
    overflow-y: visible !important;
  }
  .navbar-header,
  .navbar-nav,
  .navbar-nav>li {
    float: none;
  }
}
